<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="leftmenu(title)">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script>
        function messages() {
            let csrfHeader = $('#_csrf_header').attr('content');
            let csrfToken = $('#_csrf').attr('content');

            $.ajax({
                type: 'post',
                url: '/api/messages',
                // dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                    xhr.setRequestHeader('Content-type', 'application/json');
                },
                success: function (data) {
                    console.log(data);
                    window.location = '/messages';
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    if (xhr.responseJSON.status == '401') {
                        window.location = '/api/login?error=true&exception=' + xhr.responseJSON.message;
                    } else if (xhr.responseJSON.status == '403') {
                        window.location = '/api/denied?exception=' + xhr.responseJSON.message + "&authorize=" + xhr.getResponseHeader('authorize');
                    }
                }
            })
        }
    </script>


    <ul class="nav flex-column">
        <li class="nav-item">
            <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                <a th:href="@{/}" style="margin:5px;"
                   th:class="${#strings.equals(title, 'home') ? 'nav-link active' : 'nav-link nav-link text-primary' }">대시보드</a>

                <a th:href="@{/mypage}" style="margin:5px;"
                   th:class="${#strings.equals(title, 'my-page') ? 'nav-link active' : 'nav-link nav-link text-primary' }">마이페이지</a>

                <a href="#" onclick="messages()"
                   style="margin:5px;"
                   th:class="${#strings.equals(title, 'message') ? 'nav-link active' : 'nav-link nav-link text-primary' }">메시지</a>

                <a th:href="@{/config}" style="margin:5px;"
                   th:class="${#strings.equals(title, 'config') ? 'nav-link active' : 'nav-link nav-link text-primary' }">환경설정</a>
            </div>
        </li>
    </ul>
</div>
</html>